site_url: https://docs.juvix.org
site_name: Juvix Docs
site_description: The Official Documentation for Juvix
site_author: The Juvix Team

repo_name: anoma/juvix
repo_url: https://github.com/anoma/juvix
edit_uri: edit/main/docs/

copyright: "Made with :white_heart: 2022 - Heliax AG"

extra_javascript:
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
  - https://cdn.jsdelivr.net/gh/highlightjs/cdn-release/build/highlight.min.js
  - assets/js/highlight.js
  - https://cdn.jsdelivr.net/npm/highlightjs-juvix/dist/juvix.min.js
  - assets/js/juvix-highlight.js
  - assets/js/extra.js
  # - assets/js/mathjax.js

extra_css:
  - assets/css/extra.css
  - assets/css/juvix-highlight.css
  - https://cdn.jsdelivr.net/npm/highlightjs-juvix/dist/juvix.css

theme:
  name: material
  palette:
    # Palette toggle for light mode
    - scheme: default
      primary: deep orange
      accent: orange
      toggle:
        icon: material/weather-night
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      primary: deep orange
      accent: deep orange
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode

  features:
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    - content.tooltips
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.expand
    - navigation.path
    - navigation.footer
    - navigation.instant
    - search.highlight
    - search.suggest
    - toc.follow

  custom_dir: "docs/overrides"
  font:
    text: Roboto
    code: Roboto Mono

  favicon: assets/images/favicon/favicon.ico
  logo: assets/logo-juvix.svg

  icon:
    repo: fontawesome/brands/github-alt
    edit: material/pencil
    view: material/eye

markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
  - tables
  - pymdownx.betterem
  # - pymdownx.details
  - pymdownx.snippets
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
      options:
        custom_icons:
          - overrides/.icons
  - pymdownx.highlight:
      use_pygments: false
  - pymdownx.keys
  - pymdownx.tasklist:
      custom_checkbox: true

plugins:
  - search
  - mkdocstrings
  - git-revision-date
  - git-revision-date-localized:
      type: date
      enabled: !ENV [CI, false]
      enable_creation_date: true

nav:
  - Juvix:
      - About: ./index.md
      - Overview: ./overview.md
      - Changelog: ./CHANGELOG.md
      - Contributing: ./CONTRIBUTING.md

  - Blog:
      - blog/index.md

  - Tutorials:
      - Learn Juvix in minutes: ./tutorials/learn.md
      - Structuring Juvix projects: ./tutorials/structure.md
      - Juvix VSCode extension: ./tutorials/vscode.md
      - Juvix Emacs mode: ./tutorials/emacs.md
      - NodeJS Interop: ./tutorials/nodejs-interop.md

  - How-to guides:
      - Installing Juvix: ./howto/installing.md
      - Compiling Juvix programs: ./howto/compilation.md
      - Judoc documentation tool: ./howto/judoc.md

  - Explanations:
      # - Type theory: ./explanations/typetheory.md
      - Totality checking:
          - Termination: ./explanations/totality/termination.md
        # - Strictly positive data types: ./explanations/totality/positive.md
        # - Coverage checking: ./explanations/totality/coverage.md

  - Reference:
      - Language reference: # ./reference/language/README.md
          - Functions: ./reference/language/functions.md
          - Builtins: ./reference/language/builtins.md
          - Data types: ./reference/language/datatypes.md
          - Modules: ./reference/language/modules.md
          - Local definitions: ./reference/language/let.md
          - Control structures: ./reference/language/control.md
          - Comments: ./reference/language/comments.md
          - Axioms: ./reference/language/axioms.md
      - Standard library: ./reference/stdlib.md
      - Example programs: ./reference/examples.md
      - Benchmarks: ./reference/benchmarks.md
      - Tooling: # ./reference/tooling/README.md
          - Command line interface: ./reference/tooling/CLI.md
          - Doctor: ./reference/tooling/doctor.md
          - Emacs mode: ./reference/tooling/emacs.md
          - Haskell test suite: ./reference/tooling/testing.md
      - Judoc reference: ./reference/judoc.md

  - Misc:
      - notes/lsp.md
      - notes/runtime-benchmark-results.md
