mkdocs
mkdocs-material
mkdocstrings
mkdocs-blog-plugin
mkdocs-git-revision-date-plugin
mkdocs-pdf-export-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-git-committers-plugin-2
mkdocs-git-authors-plugin
mkdocs-rss-plugin
mike
html5lib
lxml
pillow
cairosvg
pre-commit
