mkdocs
mkdocs-git-revision-date-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-git-authors-plugin
mkdocs-material
mkdocs-material[imaging]
mike
html5lib
lxml
pillow
cairosvg
pre-commit
mkdocs-juvix-plugin
