mkdocs
mkdocs-git-revision-date-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-git-authors-plugin
mkdocs-material
mkdocs-material[imaging]
mkdocs-juvix-plugin
mkdocs-redirects
mkdocs-rss-plugin
mkdocstrings
mike
html5lib
lxml
pillow
cairosvg
pre-commit
